{% extends "blog_portal/base.html" %}

{% block new %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Nosotros...</h1>
        <p class="lead text-muted">Agustina, Bruno y Alvaro</p>
       
      </div>
    </div>
  </section>
  <main class="flex-shrink-0">
    <div class="container">
        
        <p class="lead" align="justify">
        <h1 class="fw-light">Comentarios</h1>
            MODIFIQUEN EL TEXTO DE ACA. YO DEJARE LOS COMENTARIOS DE LO MIO.
        </p>
        En el siguiente texto, pongan un poco de cada uno de uds, como para que lo vea German.
        <h1 class="fw-light">Agustina</h1>
        <p class="lead" align="justify">
            
        </p>
         
        <h1 class="fw-light">Bruno</h1>
        <p class="lead" align="justify">
            
        </p>
         
        <h1 class="fw-light">Alvaro</h1>
        <p class="lead" align="justify">
            Me dedico a la ciencia, especificamente la que estudia la fisica de los oceanos, llamada Oceanografia Fisica. Estudie electronica, desarrollo de hardware
            y mantenimiento de instrumentales Oceanograficos. Como hobby, me inicie en la programacion en MatLab y VB6. Finalmente me decidi por Python donde eh desarrollado
            sistemas de adquisicon de datos en tiempo real, sistemas de adquisicion en discreto, sistemas de comunicacion y procesamiento de señales en su mayoria para Buques 
            de Investicagion Pesquera Oceanograficos (BIPO) pertenecientes al Instituto Nacional de Investigacion y Desarrollo Pesquero (INIDEP) ubicado en la ciudad 
            de Mar del Plata, Buenos Aires, Argentina.
        </p>
    </div>
  </main>

{% endblock %}
