{% extends "blog_portal/base.html" %}

{% block new %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Oceanografía Física</h1>
        <p class="lead text-muted">Por Alvaro Cubiella</p>
       
      </div>
    </div>
  </section>
  <main class="flex-shrink-0">
    <div class="container">
        
        
        <h1 class="fw-light">Que es la Oceanografía Física?</h1>
        <p class="lead" align="justify">
        Es una rama de la Oceanografía, la cual se va a encargar del estudio de las propiedades físicas del océano o a los movimientos de las partículas 
        fluidas que lo componen, relacionando a la atmósfera y al piso oceánico.
        </p>
        <h6>La Oceanografía física tiene dos objetos principales de estudio:</h6>  
        <p class="lead" align="justify">
          Se encuentran las propiedades físicas del océano y se van a estudiar lo que son la temperatura, densidad, transparencia, calor específico, puntos de ebullición, congelación, presión, energía absorbida, etc.
          Además de las propiedades anteriores, también se van a estudiar los procesos físicos que se llevan a cabo en el mar como la circulación del agua oceánica por ejemplo las corrientes, mareas, etc. para explicar su comportamiento.
          Una propiedad básica de los océanos es la circulación de agua, ya que a partir de ella se van a estar relacionando todas las propiedades y procesos físicos antes mencionados.
          Un proceso físico importante son las corrientes oceánicas, éstas se crean debido a que el agua que se encuentra en el Ecuador está caliente  y por lo tanto es más ligera, así que se dirige hacia los polos por la superficie del mar  y al llegar, se enfría y se regresa por el fondo, aumentando su temperatura cada vez más a medida de que se va acercando al Ecuador de nuevo.
          Es así como el calor se va distribuyendo por todo el planeta gracias a las aguas de los océanos, además de que se evapora el agua iniciando su ciclo para culminar con la precipitación y permite la vida en estas zonas, sin embargo, la mayoría de las veces, el viento, el movimiento de rotación de la Tierra,  hacen que el calor no vaya a su lugar de destino, formando corrientes oceánicas, por ejemplo la Corriente del Golfo y la del Este de Australia.
          La circulación del agua también está basada en lo que son las Mareas, éstas son el ascenso y descenso del nivel del mar en un periodo determinado de 12 y 24 horas. Consecuencia de las atracciones gravitacionales de la luna y el sol con respecto a la Tierra. El nivel del mar no es constante, ya que en las estaciones del año, tanto en verano e inviernos aumenta o disminuye debido a los cambios de temperatura según sea la época del año.
          Al paso de los años, el nivel de los océanos ha aumentado ya que los constantes cambios climáticos han provocado que los casquetes polares se vayan derritiendo poco a poco y aunque el océano regula las características del clima, si no hay un equilibrio, pueden aparecer eventos naturales catastróficos para nosotros como seres humanos.
          Las propiedades físicas del océano se dividen en Ópticas como la transparencia, reflexión y refracción; Acústicas; Térmicas; Mecánicas como la densidad, presión, salinidad.
        </p>
         
        <h1 class="fw-light">Alvaro</h1>
        <p class="lead" align="justify">
            Me dedico a la ciencia, especificamente la que estudia la fisica de los oceanos, llamada Oceanografia Fisica. Estudie Ingenieria Electronica,actualmente me decio al
            desarrollo de hardware y mantenimiento de instrumentales Oceanograficos. Como hobby, me inicie en la programacion en MatLab y VB6. Finalmente me decidi por Python donde eh desarrollado
            sistemas de adquisicon de datos en tiempo real, sistemas de adquisicion en discreto, sistemas de comunicacion y procesamiento de señales en su mayoria para Buques 
            de Investicagion Pesquera Oceanograficos (BIPO) pertenecientes al Instituto Nacional de Investigacion y Desarrollo Pesquero (INIDEP) ubicado en la ciudad 
            de Mar del Plata, Buenos Aires, Argentina.
        </p>
    </div>
  </main>

{% endblock %}
