{% extends 'blog_portal/base.html' %}
<!-- {% load static %} -->
{% block title%} {{headline.title}}{% endblock %}
{% block headline%} {{headline.headline}} {% endblock %}
{% block sub%}{{headline.sub}}{% endblock %}

{% block new %}
<div class="card mb-4">
    <a href="#!"><img class="card-img-top" src= "{{new.image}}" alt="..." /></a>
    <div class="card-body">
        <div class="small text-muted">{{new.date_created}}</div>
        <h2 class="card-title">{{new.title}}</h2>
        <p class="card-text">{{new.short_content}}</p>
        <a class="btn btn-primary" href="#!">Leer más →</a>
    </div>
</div>
{% endblock %}
{% block columns %}
<div class="row">
    <div class="col-lg-6">
        <!-- Blog post-->
        {% for c in left_col.left_col %}
            <div class="card mb-4">      
                <a href="#!"><img class="view-mini" src= {{c.image}}  alt= "..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{c.date_created}}</div>
                    <h2 class="card-title h4">{{c.title}}</h2>
                    <p class="card-text">{{c.image}}</p>
                    <a class="btn btn-primary" href="#!">Leer más →</a>
                </div>     
            </div>
        {% endfor %}    
    </div>   
    <div class="col-lg-6">
        <!-- Blog post-->
        {% for c in rigth_col.rigth_col %}
        <div class="card mb-4">
            <a href="#!"><img class="view-mini" src={{c.image}} alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">{{c.date_created}}</div>
                <h2 class="card-title h4">{{c.title}}</h2>
                <p class="card-text">{{c.short_content}}</p>
                <a class="btn btn-primary" href="#!">Leer más →</a>
            </div>
        </div>
        {% endfor %} 
    </div>   
</div>
{% endblock %}
{% block pages %}
    <nav aria-label="Pagination">
        <hr class="my-0" />
        <ul class="pagination justify-content-center my-4">        
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Reciente</a></li>
            {% for page in headline.pages %}       
                <li class="page-item"><a class="page-link" href="#!">{{page}}</a></li>      
            {% endfor %}  
            <li class="page-item"><a class="page-link" href="#!">Antiguas</a></li>
        </ul>
    </nav>
{% endblock %}
