{% extends 'blog_portal/base.html' %}
{% block title%} {{headline.title}}{% endblock %}
{% block headline%} {{headline.headline}} {% endblock %}
{% block sub%}{{headline.sub}}{% endblock %}

{% block left_col %}
    
    <!-- Blog post-->
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src=" " alt= "Foto de una lata" /></a>
        <div class="card-body">
            <div class="small text-muted">October 24, 2022</div>
            <h2 class="card-title h4">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
            <a class="btn btn-primary" href="#!">Leer más →</a>
        </div>
    </div>
{% endblock %}

{% block rigth_col %}
    <!-- Blog post-->
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">January 1, 2022</div>
            <h2 class="card-title h4">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
            <a class="btn btn-primary" href="#!">Leer más →</a>
        </div>
    </div>
    
    
{% endblock %}
