{% extends "blog_portal/base.html" %}
{% block title%} Lista de Articulos {% endblock %}
{% block headline%} Lista de articulos {{object.id}} {% endblock %}

{% block new %}
<main class="flex-shrink-0">
    <div class="container" style="margin-top: 1em;">
      
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Autor</th>
      <th scope="col">Fecha publicación</th>
      <th scope="col">Fecha creado</th>
      <th scope="col">Modificado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
        <tbody>
        {% if articles %}
          {%for article in articles %}
            <tr>
              <th scope="row">{{article.id}}</th>
              <td>{{article.title}}</td>
              <td>{{article.author}}</td>
              <td>{{article.date_published}}</td>
              <td>{{article.date_created}}</td>
              <td>{{article.date_updated}}</td>
              <td>  
                <a type="button" href="{% url 'article-delete' article.id %}" class="btn btn-sm btn-outline-danger">Borrar</a>
                <a type="button" href="{% url 'article-update' article.id %}" class="btn btn-sm btn-outline-danger">Modificar</a>
              </td>
            </tr>
          {% endfor %}

        {% else %}
          <h1> No hay registros de articulos</h1>
        {% endif %}
      </tbody>
    </table>
        
    </div>
  </main>

  <a type="button" href="{% url 'article-create' %}" class="btn btn-sm btn-outline-primary">Agregar Articulo</a>

{% endblock %}